* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(30, 54%, 90%);
	font-family: 'Outfit', sans-serif;
	font-size: 16px;
	line-height: 1.4;
}

.main-content-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.recipe-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 700px;
	padding: 2rem;
	border-radius: 15px;
	margin: 5rem 2rem;
	background-color: white;
	gap: 1rem;
}

.img-container {
	text-align: center;
}

.recipe-img {
	max-width: 100%;
	border-radius: 15px;
}

.recipe-header,
.recipe-h2 {
	font-family: 'Young Serif', serif;
}

.recipe-h2 {
	color: hsl(332, 51%, 32%);
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.recipe-description {
    margin-bottom: .75rem;
}

.recipe-prep {
	border-radius: 15px;
	background-color: hsl(330, 100%, 98%);
	padding: 1.5rem;
    margin-bottom: 1rem;
}

ol,
ul {
    margin-left: 1.5rem;
}

li {
    padding-left: 1rem;
    padding-bottom: .75rem;
}

.ul-list-item::marker {
    color: hsl(332, 51%, 32%);
    font-weight: 400;
}

.ol-list-item::marker {
    color: hsl(332, 51%, 32%);
    font-weight: 700;
}

.recipe-h3 {
	color: hsl(332, 51%, 32%);
	margin-bottom: 1rem;
}

.recipe-instructions,
.recipe-ingredients {
	border-bottom: 1px solid black;
	padding-bottom: 2rem;
}

.recipe-instructions,
.recipe-nutrition {
	padding-top: 1rem;
}

.bold-text {
	font-weight: 700;
}

.nutrition-table {
	margin-top: 1rem;
	width: 100%;
	text-align: left;
    border-collapse: collapse;
}


td {
	padding: 1rem 0 1rem 2rem;
}

td:nth-of-type(even) {
	color: hsl(332, 51%, 32%);
    font-weight: 700;
}

tr {
    border-bottom: 1px solid black;
}

tr:last-of-type {
    border-bottom: none;
}

.attribution {
	margin-top: 1rem;
}


/* Mobile challenge requirements */

@media (width <= 375px) {
    .recipe-container {
        margin: 0;
        border-radius: 0;
        padding: 0 0 1rem 0;
        gap: 0;
    }

    .recipe-container > *:not(.img-container) {
        margin: 1rem 1.5rem;
    }

    .recipe-img {
        border-radius: 0;
    }
}